@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./imagens/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


nav {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

.btn-links1,
.btn-links2,
.btn-links3,
.btn-links4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 5px;
    color: white;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
    text-decoration: none;
    box-sizing: border-box;
}

.btn-links1:hover {
    background: linear-gradient(to right, #B721FF, #17a2b8);
    transition: 1s;
}

.btn-links2:hover {
    background: linear-gradient(to right, #17a2b8, #75d5e3);
    transition: 1s;
}

.btn-links3:hover {
    background: linear-gradient(to right, #75d5e3, #64f38c);
    transition: 1s;
}

.btn-links4:hover {
    background: linear-gradient(to left, #f79d00, #64f38c);
    transition: 1s;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 15%;
}

/* Media queries para telas menores */

@media screen and (max-width: 768px) {
   
    nav {
        margin-top: 5%;
    }
    
    .btn-links1,
    .btn-links2,
    .btn-links3,
    .btn-links4 {
        font-size: 10px;
        margin: 1px;
        padding: 0;
    }

    img {
        max-width: 75%;
    }
   
}